

<h1>REST Movie App</h1>


<form method="post" action="/movies">
    <input type="text" name="title">
    <button>Search</button>
</form>

<form method="get" action="/movies">
    <button>Show all movies</button>
</form>


