<% include ../partials/header.ejs%>

<div class="ui container">

    <h1 class="ui center aligned header  huge inverted"><i class="film icon"></i>REST Movie App</h1>

    <div class="ui column centered grid">
        <form method="post" action="/movies">
            <div class="ui icon input">
                <input type="text" name="title" placeholder="Search for film" required>
                <i class="circular search link icon"></i>
            </div>
            <div class="ui buttons">
                <button class="ui animated inverted button" tabindex="0">
                    <div class="visible content">Search</div>
                    <div class="hidden content">
                        <i class="right arrow icon"></i>
                    </div>
                </button>
                <a class="ui inverted button" href="/comments">Comments</a>
            </div>
        </form>
    </div>

    <div class="doubling stackable three column ui grid container">
        <% films.forEach(function (film) { %>
            <div class="column">
                <div class="ui card">
                    <div class="content">
                        <a class="header" href="/movies/<%= film._id %>"><%= film.Title %></a>
                        <div class="description">
                            <p><%= film.Plot.substring(0, 50) %> ...</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="user icon"></i>
                            <%= film.comments.length %> Comments
                        </a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>

</div>

<% include ../partials/footer.ejs%>